{% load static %}
<html>
<head>
 <meta charset="utf-8"/>
 <style type="text/css">
  html, body  {height: 90%; width: 90%;}
  html    {display: table; margin: auto;}
  body    {display: table-cell; vertical-align: middle;}
  *   {padding:8;}
  svg   {padding:0; border:0px #eee solid;}
  svg text  {font-size:0.6mm; text-anchor: middle;}
  table td  {text-align: right;}
  tr td         {padding:1.5mm 2mm 0mm;}
  
 @media print {
  body          {max-height: 100vh; max-width: 100vw; overflow: hidden; vertical-align: top; }
  html          {height: 100%; width: 100%; padding: 0; }
  body          {height: 100%; width: 100%; padding: 5mm 2mm 0mm;}
  *   {padding:0; margin: 0;}
  .no-print, .no-print * {display: none !important;}  
  }
  @page {
   size: A4;
   margin: 0mm 0mm 0mm 0mm;
  }
 </style>
 <script src="{% static 'js/qrcode.js' %}"></script>
</head>
<body>

<script>
'use strict';
function generateImage(serial, type) {
 let value = serial + '|' + type;
 let qrcodeSvg = "";
 let qrcode = new QRCode({ content: value, width:16, height:16, offset:[4, 4], padding:1, join: true });
 qrcodeSvg = qrcode.svg({container:null});
 let o = "<svg viewBox=\"0 0 24 24\" xmlns=\"http://www.w3.org/2000/svg\">";
 o += qrcodeSvg;
 o += "<text x=\"50%\" y=\"4\">"+serial+"</text>";
 o += "</svg>";
 return o;
}

var product = [];

function matchName(element) {
  return element.name === this;
}

function makeHintNames() {
 let i = document.getElementById("inputName");
 let l = document.getElementById("hintNames");
 for (let n=0; n<product.length; n++) {
   let o = document.createElement('option');
   o.value = product[n].name;
   l.appendChild(o);
 }
}

function makeHintCodes() {
 let i = document.getElementById("inputName");
 let hint = i.value.toLowerCase();

 let l = document.getElementById("hintCodes");
 while (l.firstChild)
 l.removeChild(l.lastChild);

 for (let n=0; n<product.length; n++) {
  if (product[n].name.toLowerCase().indexOf(hint) != -1) {
   let o = document.createElement('option');
   for (let i=0; i<product[n].decimal.length; i++) {
    o.value = product[n].decimal[i];
    l.appendChild(o);
   }
  }
 }
 
 i = document.getElementById("inputCode");
 if (l.childElementCount == 1)
  i.value = l.firstChild.value;
 else
  i.value = "";
}

function checkName() {
 let ec = document.getElementById("inputCode");
 let en = document.getElementById("inputName");
 for (let n=0; n<product.length; n++) {
  for (let i=0; i<product[n].decimal.length; i++) {
   if (ec.value == product[n].decimal[i]) {
  en.value = product[n].name;
  return;
   }
  }
 }
 en.value = "";
}

function makeProductFromJson(j) {
 for (let n=0; n<j.data.length; n++) {
  let e;
  if (product.length)
   e = product.find(matchName, j.data[n].name);
  if (typeof e == "undefined") {
   e = {name:j.data[n].name, decimal:[]};
   product.push(e);
  }
  e.decimal.push(j.data[n].decimal);
 }

 product.sort((a, b) => {
  const nameA = a.name.toUpperCase(); // ignore upper and lowercase
  const nameB = b.name.toUpperCase(); // ignore upper and lowercase
  if (nameA < nameB)
   return -1;
  if (nameA > nameB)
   return 1;
  return 0;
 }
 ); 
 
 makeHintNames();
 makeHintCodes();
}

function setMsg(msg) {
 let sn = document.getElementById("msg");
 sn.innerHTML = msg;
}

function readNames() {
 setMsg("");
 fetch("/get_decimals")
// fetch("test.json")
 .then(r => r.json())
 .then(j => makeProductFromJson(j))
 .catch(err => {setMsg("Ошибка загрузки справочника")});
}

function nameSelected() {
 let sn = document.getElementById("selectName");
 let i = sn.value;
 makeSelectDecimal(i);
}

var sequenceId = 0;
const columns = 6;
const rows = 9;

// drop all sequence
function drop(sequenceId)
{
 do {
  let e = document.getElementById("seq"+sequenceId);
  if (typeof e == "undefined")
   break;
  e.remove();
 } while (1);
}

function countFix() {
 const countLimit = 100;
 let e = document.getElementById("count");
 let cnt = e.value;
 if (cnt > countLimit)
  e.value = countLimit;
}

function addImages() {
 let serial = document.getElementById("serial").value;
 let cnt = document.getElementById("count").value;
 if (cnt < 1)
  return;
 let e = document.getElementById("inputCode");
 let type = e.value;
 e = document.getElementById("inputName");
 let name = e.value;
 
 let r;
 let d;
 
 let l = document.getElementById("list");
 r = document.createElement("tr");
 r.setAttribute("id", "seq"+sequenceId);
 d = document.createElement("td");
 let from = serial;
 let to = parseInt(serial, 10) + parseInt(cnt) - 1;
 let serialRange = from;
 if (cnt > 1)
  serialRange += "-" + to;
 d.innerHTML = "<p>"+serialRange+" ("+cnt+"шт) "+type+" "+name+" </p>";
 r.appendChild(d);
 d = document.createElement("td");
 d.innerHTML = "<button data-sid=\"+sequenceId+\" type=\"button\" onclick=\"drop("+sequenceId+")\">Удалить</button>";
 r.appendChild(d);
 l.appendChild(r);
 
 type = type.replace("МКЦБ.", "");
 
 let o = document.getElementById("output");
 do {
  r = document.createElement("tr");
  r.setAttribute("id", "seq"+sequenceId);
  for (let c = 0; c < columns; c++) {
   d = document.createElement("td");
   if (cnt > 0) {
    cnt--;
    d.innerHTML = generateImage(serial, type);
    serial++;
   }
   r.appendChild(d);
  }  
  o.appendChild(r);
 } while (cnt > 0);
 sequenceId++;
}

window.onload = function(e){
 readNames();
 setMsg("Максимум "+(rows*columns)+" кодов на страницу")
}

</script>
<table class="no-print" width="100%">
 <tr>
  <td>Зав.номер с <input size="8" id="serial" type="number"></input></td>
  <td>Кол-во <input size="3" id="count" type="number" min="1" max="100" oninput="countFix()"></input></td>
  <td width="50%">
    <input size="60" type="text" list="hintNames" id="inputName" oninput="makeHintCodes()">
  <input size="14" type="text" list="hintCodes" id="inputCode" oninput="checkName()">
  </td>
  <td><button id="button" type="button" onclick="addImages()" enabled>Добавить</button></td>
 </tr>
 <tr><td id="msg" colspan="4"></td></tr>
</table>

<table class="no-print" width="100%" id="list">
</table>
 
<table width="100%" id="output">
</table>

<datalist id="hintNames"></datalist>
<datalist id="hintCodes"></datalist>

</body>
</html>