*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
python/Config.py 
python/__pycache__ 
qrweb/__pycache__ 
qrweb/qrweb/__pycache__ 
qrweb/qrweb/apps/qr/__pycache__ 
